<div ng-controller="loginController">
    <div class="modal-header">
      <h3 class="modal-title">Sign In</h3>
    </div>
  <form role="form">
    <div class="modal-body">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="principal.email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model = "principal.password">
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary"
              data-ng-click="facebookLoginController.IntentLogin()"> Facebook</button>
      <button class="btn btn-primary" ng-click="login()">Login</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
