.container {
  width:100%;
  z-index: 1;
  padding: 0px;
}

.left-pull{
  background-color: #636266;
  position:fixed;
  width: 60px;
  top:60px;
  height:100%;
  left: 0px;
  z-index: 2;
}

.left-pull:hover{
  opacity: 1;
  width: 275px;
}

.header {
  z-index: 3;
  left: -1px;
  width: 100%;
  background-color: #a7a7a7;
  padding: 0px;
  height: 60px;
}

img.branding.logo {
  height: 60px;
  padding-left: 0px;
  z-index:10;
  position:relative;
}

.branding.logo.name{
  color:#222222;
  font-size: 20px;
  z-index: 10;
  position:relative;
  vertical-align: -webkit-baseline-middle;
}

.camera-nav {
  padding-top: 10px;
  padding-right:10px;
}
.camera-nav > li > a {
  color:#222222;
  font-size: 20px;
  vertical-align: -webkit-baseline-middle;
}

.camera-nav > li > a:hover {
  color:#dddddd;
  font-size: 20px;
  background-color: #222222;
}

.footer{
  position:fixed;
  bottom:0px;
  height:60px;
  width:100%;
  left:60px;
  background-color: #a7a7a7;
}

.footer-text{
  padding-left: 5px;
  padding-top: 10px;
  vertical-align: -webkit-baseline-middle;
  color: #440505;
  display: block;
  width:130px;
  word-wrap: break-word;
  font-family: cursive;
  font-weight: 400;
}

