/*
dark-grey: #636266
light-grey: #a7a7a7
very-dark-grey:#222222
medium-dark-grey: #dddddd

bright-green: #4cae4c
dark-green:

*/

.container {
  width:100%;
  z-index: 1;
  padding: 0px;
}

.left-pull{
  background-color: #636266;
  position:fixed;
  width: 60px;
  top:60px;
  height:100%;
  left: 0px;
  z-index: 2;
}

.left-pull:hover{
  opacity: 1;
  width: 200px;
}

.header {
  z-index: 3;
  left: -1px;
  width: 100%;
  background-color: #a7a7a7;
  padding: 0px;
  height: 60px;
}

img.branding.logo {
  height: auto;
  width: 60px;
  padding-left: 0px;
  padding-top: 10px;
  z-index: 10;
  position: relative;
}

.branding.logo.name{
  color:#222222;
  font-size: 20px;
  z-index: 10;
  position:relative;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.camera-nav {
  padding-top: 5px;
  padding-right:10px;
}
.camera-nav > li > a {
  color:#dddddd;
  font-size: 20px;
  vertical-align: -webkit-baseline-middle;
}

.camera-nav > li > a:hover,
.camera-nav > li > a:focus {
  color:#ffffff;
  font-size: 20px;
  background-color: #a7a7a7;
}

.footer{
  position:fixed;
  bottom:0px;
  height:60px;
  width:100%;
  left:60px;
  background-color: #a7a7a7;
}

.footer-text{
  padding-left: 5px;
  padding-top: 10px;
  vertical-align: -webkit-baseline-middle;
  color: #440505;
  display: block;
  width:130px;
  word-wrap: break-word;
  font-family: cursive;
  font-weight: 400;
}

div.left-pull nav ul{
  padding:0px;
}

div.left-pull nav ul li {
  list-style: none;
  font-size: 24px;
  height: 45px;
  padding-left: 14px;
  padding-top:8px;
  color: #dddddd;
}

div.left-pull nav ul li label {
  display: none;
}

div.left-pull nav ul li:hover{
  color:#ffffff;
  background-color:#4cae4c;
  cursor:pointer;
}

div.left-pull nav ul li:active,
div.left-pull nav ul li:focus,
div.left-pull nav ul li.active{
  color:#ffffff;
  background-color: #459b45;
  cursor:pointer;
}

div.left-pull:hover nav ul li label {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

div.left-pull:hover nav ul li:hover label,
div.left-pull:hover nav ul li:focus label,
div.left-pull:hover nav ul li:active label{
  display: inline-block;
  color:#ffffff;
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;

}

.fa-correction{
  margin-left: 23px;
}

span.fa.icon-500px{
  background-image: url('/images/500px.svg');
  width: 21px;
  height: 21px;
  background-size: contain;
  display: inline-block;
  box-sizing: border-box;
  line-height: 24px;

}

span.fa.icon-500px:hover, span.icon-500px:active, span.icon-500px:focus,{
  background-image: url('/images/500px_active.svg');
}

.icon-500px-text{
  vertical-align: middle;
  padding-left: 27px;
  color: rgb(221, 221, 221);
  display: inline-block;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  margin-left: 23px;

}

.btn-primary{
  background-color: #4cae4c;
  border-color: #387038;
  min-width: 150px;
  font-size: 20px;
}

.btn-primary:hover,.btn-primary:focus{
  background-color: #448444;
  border-color: #387038;
  min-width: 150px;
  font-size: 20px;
}

.btn-warning{
  background-color: #e38d13;
  border-color: #d08311;
  min-width: 150px;
  font-size: 20px;
}

.btn-warning:hover,.btn-warning:focus{
  background-color: #d08311;
  border-color: #d08311;
  min-width: 150px;
  font-size: 20px;
}

.modal-dialog{
  top:60px;
}

.modal-header, .modal-content, .modal-footer{
  border:0px;
  background-color: #eeeeee;
  z-index: 100;
  border-radius: 2px;
}
