

@media screen and (min-width:768px ){
  section#dashboard h2 {
    left: 380px;
    top: 60px;
    font-size: 24px;
    position: fixed;
    padding: 5px;
  }

  section#dashboard a.connectOption {
    left: 90px;
    top: 80px;
    font-size: 14px;
    position: fixed;
    padding: 5px;
  }


  div#social-data{
    position: fixed;
    top: 120px;
    left: 380px;
    bottom: 80px;
    overflow: scroll;
  }

  div#social-data a.ng-scope img {
    position: relative;
    margin: 5px;

  }

  div#social-footer {
    height: 50px;
    width:100%;
    min-height: 50px;
  }

}
