<nav>
  <ul>
    <li ui-sref="home" ui-sref-active="active">
      <span class = "fa fa-home nav-padding">
        <label class="fa-correction">Home</label>
      </span>
    </li>
    <li ui-sref="gallery" ui-sref-active="active" >
      <span class = "glyphicon glyphicon-picture">
        <label class="glyphicon-correction">Gallery</label>
      </span>
    </li>
    <li ui-sref="500px" ui-sref-active="active">
      <span class = "fa icon-500px nav-padding">
        <label class = "icon-500px-text">500px</label>
      </span>
    </li>
    <li ui-sref="flickr" ui-sref-active="active">
      <span class = "fa fa-flickr nav-padding">
        <label class="fa-correction">Flickr</label>
      </span>
    </li>
    <li ui-sref="instagram" ui-sref-active="active">
      <span class = "fa fa-instagram nav-padding">
        <label class="fa-correction">Instagram</label>
      </span>
    </li>
    <li ui-sref="facebook" ui-sref-active="active">
      <span class = "fa fa-facebook-official nav-padding">
        <label class="fa-correction">Facebook</label>
      </span>
    </li>
    <li ui-sref="google" ui-sref-active="active">
      <span class = "fa fa-google-plus nav-padding">
        <label class="fa-correction">Google</label>
      </span>
    </li>

  </ul>
</nav>
