<nav>
  <ul>
    <li>
      <span class = "fa fa-home nav-padding">
        <label class="fa-correction">Home</label>
      </span>
    </li>
    <li>
      <span class = "glyphicon glyphicon-picture">
        <label class="glyphicon-correction">Gallery</label>
      </span>
    </li>
    <li>
      <span class = "icon-500px nav-padding">
        <label class = "icon-500px-text">500px</label>
      </span>
    </li>
    <li>
      <span class = "fa fa-flickr nav-padding">
        <label class="fa-correction">Flickr</label>
      </span>
    </li>
    <li>
      <span class = "fa fa-instagram nav-padding">
        <label class="fa-correction">Instagram</label>
      </span>
    </li>
    <li>
      <span class = "fa fa-facebook-official nav-padding">
        <label class="fa-correction">Facebook</label>
      </span>
    </li>
    <li>
      <span class = "fa fa-google-plus nav-padding">
        <label class="fa-correction">Google</label>
      </span>
    </li>

  </ul>
</nav>
