<nav>
  <ul>
    <li>
      <span class = "glyphicon glyphicon-home nav-padding">
        <label>Home</label>
      </span>
    </li>
    <li>
      <span class = "glyphicon glyphicon-picture nav-padding">
        <label>Gallery</label>
      </span>
    </li>
    <li>
      <span class = "glyphicon glyphicon-leaf nav-padding">
        <label>500px</label>
      </span>
    </li>
    <li>
      <span class = "glyphicon glyphicon-leaf nav-padding">
        <label>Flickr</label>
      </span>
    </li>
    <li>
      <span class = "glyphicon glyphicon-leaf nav-padding">
        <label>Facebook</label>
      </span>
    </li>
    <li>
      <span class = "glyphicon glyphicon-leaf nav-padding">
        <label>Instagram</label>
      </span>
    </li>
  </ul>
</nav>
